* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecera {
    background-color: var(--color2);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#menu {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.img_fondo {
    /* background-color: #72EFE9; */
    /* background-color: var(--color3); */
    background-image: url(../Images/University.jpg);
    background-size: cover;
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    font: bold;
    color: white;
    padding: 10px;
}

.logo__cabecera {
    display: inline;
}

.opc_menu {
    display: flex;
    color: white;
    width: auto;
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    align-items: center;
}

.opc_menu:hover {
    background-color: var(--color5);
    color: var(--color1);
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
}

h1 {
    view-timeline-name: --title;
    view-timeline-axis: block;

    animation-timeline: --title;
    animation-name: show;
}

.animate {
    view-timeline-name: --content;
    view-timeline-axis: block;

    animation-timeline: --content;
    animation-name: show;

    /* animation-duration: 1.5s; */
    animation-range: entry 25% 50% exit;
    animation-fill-mode: both;
}
.logo__cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__cabecera a {
    text-decoration: none;
    color: white;
}

.logo__cabecera img {
    height: 75px;
}

.logo__cabecera h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 10px;
}

.opc_menu {
    color: rgb(229, 192, 143);
}
.opc_menu.active {
    color: white; /* Cambia este color al que desees para resaltar la ruta activa */
    font-weight: bold; /* O cualquier otro estilo que desees aplicar */
}
